---
title: Articles
---
<ol class="article-list">
  <% sorted_articles.each do |article| %>
    <li>
      <article itemscope="true" itemtype="http://www.schema.org/BlogPosting">
        <header>
          <hgroup>
            <% if article[:link] %>
            <h2>
              <a href="<%= article[:link] %>">
                <span itemprop="name headline"><%= article[:title] %></span>
              </a>
            </h2>
            <% else %>
            <h2 itemprop="name"><%= article[:title] %></h2>
            <% end %>
            <% if article[:subtitle] %>
            <h3><%= article[:subtitle] %></h3>
            <% end %>
          </hgroup>
        </header>
        <div class="article-body" itemprop="articleBody"><%= article.compiled_content %></div>
        <footer>
          <p class="permalink">
            <%= link_to('Permalink', article, itemprop: 'url') %>
          </p>
          <div class="published">
            Published at
            <time datetime="<%= article[:created_at] %>" pubdate="true" itemprop="datePublished">
              <%= article[:created_at_text] %>
            </time>
          </div>
        </footer>
      </article>
    </li>
  <% end %>
</ol>
