---
title: Articles
---
%ol.article-list
  - sorted_articles.each do |article|
    %li
      %article{:itemscope => true, :itemtype => 'http://www.schema.org/BlogPosting'}
        %header
          %hgroup
            - if article[:link]
              %h2
                %a{:href => article[:link]}
                  %span{:itemprop => 'name headline'}= article[:title]
            - else
              %h2{:itemprop => 'name'}= article[:title]
            - if article[:subtitle]
              %h3= article[:subtitle]
        .article-body{:itemprop => 'articleBody'}
          = preserve article.compiled_content
        %footer
          %p.permalink
            = link_to('Permalink', article, :itemprop => 'url')
          .published
            Published at
            %time{:datetime => article[:created_at], :pubdate => true, :itemprop => 'datePublished'}= article[:created_at_text]
