!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{"http-equiv" => "Content-Language", :content=> "en-us" }/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "keywords", :content => @item[:keywords] }/
    %meta{:name => "description", :content => @item[:description] }/
    %title= "#{@item[:title]}#{": #{@item[:subtitle]}" if @item[:subtitle]} - My Kind of Stupid"
    %link{:type => 'application/atom+xml', :href => '/feed.xml', :rel => 'alternate', :title => 'Articles'}
    %link{:type => 'image/vnd.microsoft.icon', :href => '/favicon.ico', :rel => 'icon'}
    %link{:type => 'text/css', :href => '/stylesheets/application.css', :rel => 'stylesheet'}
    - if @item[:styles]
      - @item[:styles].each do |stylesheet|
        %link{:type => 'text/css', :href => "/stylesheets/#{stylesheet}.css", :rel => 'stylesheet'}
  %body
    %header
      .container
        %hgroup
          %h1
            %a{:href => '/', :class => 'title'} My Kind of Stupid
          %h2 Web development, user interfaces, and other development topics.
        %nav
          %ul.nav-list
            %li
              %a{:href => 'http://adamstegman.com/'} Adam Stegman
            %li
              %a{:rel => 'me', :href => 'http://twitter.com/adamstegman'} Twitter
            %li
              %a{:rel => 'me', :href => 'http://github.com/adamstegman'} Github
    .content
      .container
        %article{:itemscope => true, :itemtype => 'http://www.schema.org/BlogPosting'}
          %header
            %hgroup
              - if @item[:link]
                %h2
                  %a{:href => @item[:link]}
                    %span{:itemprop => 'name headline'}= @item[:title]
              - else
                %h2{:itemprop => 'name'}= @item[:title]
              - if @item[:subtitle]
                %h3= @item[:subtitle]
          .article-body{:itemprop => 'articleBody'}
            = preserve yield
          %footer
            .published
              Published at
              %time{:datetime => @item[:created_at], :pubdate => true, :itemprop => 'datePublished'}= @item[:created_at_text]
    %footer
      .container
        %section.author
          %h2
            Written by
            %a{:rel => 'author', :href => 'http://adamstegman.com/'} Adam Stegman
          %ul.contact
            %li
              %a{:href => 'http://twitter.com/adamstegman'} Follow me on Twitter
            %li
              %a{:href => 'http://github.com/adamstegman'} Follow me on Github
            %li
              %a{:href => 'http://profiles.google.com/adam.stegman'} Google Profile
            %li
              %a{:href => 'mailto:me@adamstegman.com'} Email me
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24951237-1']);
      _gaq.push(['_setDomainName', '.adamstegman.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
