!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{"http-equiv" => "Content-Language", :content=> "en-us" }/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "keywords", :content => @item[:keywords] }/
    %meta{:name => "description", :content => @item[:description] }/
    %title= "#{@item[:title]}#{": #{@item[:subtitle]}" if @item[:subtitle]} - My Kind of Stupid"

    %link{:type => 'text/css', :href => '/stylesheets/application.css', :rel => 'stylesheet'}
    - if @item[:styles]
      - @item[:styles].each do |stylesheet|
        %link{:type => 'text/css', :href => "/stylesheets/#{stylesheet}.css", :rel => 'stylesheet'}
  %body
    %header
      .container
        %hgroup
          %h1
            %a{:href => '/', :class => 'title'} My Kind of Stupid
          %h2 Web development, user interfaces, Ruby on Rails, and other development topics.
    .content
      .container
        = yield
    %footer
      .container
        %section.author
          %h2
            Written by
            %a{:rel => 'author', :href => 'http://adamstegman.com/'} Adam Stegman
          %ul.contact
            %li
              %a{:href => 'http://twitter.com/adamstegman'} Follow me on Twitter
            %li
              %a{:href => 'http://github.com/adamstegman'} Follow me on Github
            %li
              %a{:href => 'mailto:me@adamstegman.com'} Email me
